section {
  padding: 4rem 0;
}

#left-section {
  background-image: url(/src/assets/images/left-section-background.jpg);
  background-size: cover;
  background-position: center center;
}

.navbar-collapse {
  flex-grow: 0;
}

@media(max-width: 768px) {
  button.full-width {
      width: 100%!important;  
  }
}



/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
.custom-container {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .custom-container {
    margin-left: 100px;
    margin-right: 100px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .custom-container {
    margin-left: 200px;
    margin-right: 200px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1200px) {
  .custom-container {
    margin-left: 300px;
    margin-right: 300px;
  }
}
