:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

section {
  padding: 4rem 0;
  max-width: 1000px;
  padding-left: 2em;
  padding-right: 2em;
  margin: auto;
}

#left-section {
  height: 100%;
  background-image: url(/src/assets/images/left-section-background.jpg);
  background-size: cover;
  background-position: center center;
}

.section-heading {
  padding-bottom: 1rem;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;  
  position: relative;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;  
  position: relative;
}

/* Testimonials */

.carousel .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}

.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}

.carousel .text-box {
  margin: 0 auto;
  max-width: 75%;
  padding: 1rem;
  display: block;
}

.carousel-indicators {
  display: none!important;
}

/* 404 Not Found Page */
.error-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
}

.error-container .error-image {
  max-width: 50%;
  height: auto;
}

.error-container h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.error-container p {
  margin-bottom: 2em;
  font-size: 1.2em;
}

/* Payment Status Page */
.payment-status-card {
  width: 400px;
  height: 900px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  
}

@media (max-width: 768px) {
  .my-card {
      width: 90%;
      margin: 0 auto;
  }
}

/* Breakpoints for general components */

@media(max-width: 992px) {
  button.full-width {
      width: 100%!important;  
  }
}
